@use 'sass:color';

@import "./build/colors.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "./build/mixins.scss";
/* Hide the spin buttons in WebKit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.w-fit-content {
    width: fit-content !important;
}

.no-select {
    @include noUserSelect();
}

.no-scrollbar {
    @include hideScrollbar();
}

.cursor-pointer {
    cursor: pointer;
}

.h-0 {
    height: 0 !important;
}